<div class="container">
            <!-- Page Features-->
            <div class="row">
              <div class="col-lg-10 offset-lg-1">
                  <div class="row">
                    {{#if posters}}
                      {{#each posters}}
                        <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-3">
                            <a href="#" class="poster-link"><img src="{{image}}" class="img-fluid rounded-start img-board" alt="..."></a>
                            </div>
                            <div class="col-md-9">
                            <div class="card-body flex-poster-body">
                                <div class="flex-poster-title">
                                <div class="title-item-one"><a href="/posters/{{id}}" class="poster-link">
                                    <span class="card-title poster-title poster-link poster-flexible">{{title}}/span>
                                </a></div>
                                <h5 class="title-item-two">{{amount}} SO'M</h5>
                                </div>
                                <div><p class="card-text"><small class="text-muted">{{region}} - 11.07.2021 16:45</small></p></div>
                            </div>
                            </div>
                        </div>
                        </div>
                      {{/each}}
                    {{else}}
                      <h1>Ma'lumot yo'q</h1>
                    {{/if}}
                    <nav aria-label="Page navigation example">
                      <ul class="pagination pagination-lg justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">Next</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
              </div>
            </div>
        </div>